.root {
  width: 380px;
  border-right: 1px solid whitesmoke
}

.filters {
  padding: 24px;
}

.root hr {
  border: 1px solid whitesmoke;
}

.function {
  padding: 24px;
}

.select {
  width: 100% !important;
}